.footer{
    margin: auto;
    width: 1000px;
   
}
.main{
    background-color: #f9f9f9;
}
.nav2{
  display: flex;
}
.hover:hover{
    color: #f43397;
}
#drop{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 40px;

  
}
.btn{
    display: flex;
    gap: 20px;
   }
.navbar2 {
   padding: 10px;
   margin-top: -10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navbar2 :hover{
    color: #f43397;
}
.nb{
    
}
.item{
    margin-top: 50px;
      }
      .item img {
        margin: auto;
      }
.Payment{
   
    
    margin-left: 260px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 30px;

    width: 600px;

}
.xt{
    display: flex;
    padding-bottom: 100px;
}
.Payment h1{
    font-size: 20px;
    font-weight: bold;
    margin-left: px;
    margin-top:0px;
}
.mx1{
    display: flex;
    align-items: center;
   gap: 15px;
   margin-top: 10px; 
}

.mainn{
    margin-left: 0px;
    margin-top: -100px;
    font-size: 18px;
    font-weight: 500;
}
.mx{
    display: flex;
    align-items: center;
   gap: 15px;
}

.Payment p{
    margin-top: 20px;
    color: grey;
}
.btnn{
    background-color: #f43397;
    color: white;
    margin-top: 40px;
    width: 500px;
    height: 40px;
}
.cart{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    width: 600px;
    height: 200px;
    margin-top: 0px;
    margin-left: 20px;
}
.cart img {
    width: 80px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 70px;
}
.detail{
    margin-top: 30px;
    margin-left: 20px;
}
.detail h1{
    font-weight: 500;
}
.pbtn{
    display: flex;
}
.bigdiv{
    display: flex;
    margin-top: 100px;
    margin-left: 70px;
    
    padding-bottom: 100px;
}
.section{
    
    margin-left: 750px;
    margin-top: -300px;
    padding-bottom: 200px;
}
.section h1{
    font-size: 20px;
    width: 150px;
    font-weight: 500;
}
.section h2{
    font-size: 16px;
    font-weight:400;
}
.section p{
    font-size: 20px;
    width: 200px;
    margin-top: 20px;
    font-weight: 500;
}
.section img {
    width: 260px;
    margin-top: 25px;
}
.section button{
    background-color: #f43397;
    width: 260px;
    
    height: 40px;
    color: white;
}
.section button:nth-child(2){
    margin-bottom: 20px;
}
.paymentmoney{
    margin-top: 43px;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 10px;
    width: 200px;
    height: 150px;
}